* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.btn {
  position: relative;
  z-index: 9;
  display: inline-flex;
  cursor: pointer;
  overflow: hidden;
  border-radius: 999px;
  background-color: #ede9fe;
  padding: 12px 28px;
  color: #0d0d0d;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  outline: none;
}

.container {
  position: relative;
  display: inline-flex;
  overflow: hidden;
}

.content1 {
  position: relative;
  transform: translateY(0%);
  transition: transform 0.5s, skewY 0.5s;
}

.content2 {
  position: absolute;
  transform: translateY(164%);
  transition: transform 0.5s, skewY 0.5s;
}

.btn:hover .content1 {
  transform: translateY(-164%) skewY(12deg);
}

.btn:hover .content2 {
  transform: translateY(0%) skewY(0deg);
}
